@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;
    --green: #23B04A;

    --background-collor: #F5F5F5;
}

html{
    font-family: 'Roboto', sans-serif;
    background-color: var(--background-collor);
}



/*Navigation*/

.nav{
    display: flex;
    justify-content: space-between;
    background-color: var(--white);
    height: 48px;
}

.nav__logo{
    height: 48px;
    width: 132px;
}

.menu__btn{
    color: #000000;
    opacity: 60%;
    padding: 16px 16px 14px;
    font-size: 16px;
    font-weight: 600;
    position: relative;
    border: none;
    background: none;
    cursor: pointer;
}

.menu__btn--active{
    color: var(--green);
}

.menu__btn--active:after{
    content: '';
    position: absolute;
    left: 0;
    bottom: -2px;
    height: 2px;
    width: 100%;
    background-color: var(--green);
}


.nav__ava-img{
    padding: 8px 24px 8px 0;
    height: 32px;
    width: 32px;

    cursor: pointer;

}

/* Main */

.main{

}

/* Search */


.main__search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 936px;
    height: 56px;
    margin: 52px auto 48px;
    border: 1px solid #A7A7A7;
}

.search__input {
    margin: 16px;
    flex-grow: 1;
    height: 24px;
    border: none;
    background-color: transparent;
}

.search_qr {
    padding: 16px;
    width: 24px;
}


.content-item--loves{
    display: block;
    width: 925px;
    margin: 48px auto;
}

.content-item--loves h2 {
    color: var(--black);
    opacity: 60%;
    margin: 0 0 0 16px;
}

/* Table */

.header-table{
    display: flex;
}

#deviceTable {
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 16px auto;
    align-items: center;
    width: 925px;
    border-collapse: collapse;
    border: 1px solid #D8D8D8;
    border-radius: 4px;
}


#deviceTable th, #deviceTable td {
    padding: 8px;
    text-align: left;

}

#deviceTable tbody tr:not(:first-child) {
    border-top: 1px solid #DDDDDD;

}
#deviceTable thead tr {
    border-top: none;
}

.iconCell{
    height: 48px;
    width: 48px;
}

.nameCell{
    width: 652px;
    height: 40px;
}

.statusCell{
    width: 97px;
    height: 24px;
}

.bellCell{
    padding: 8px;
    margin-left: 16px;
    height: 24px;
    width: 24px;
}

.nameField{
    color: var(--black);
    opacity: 60%;
    display: inline-flex;
    width: 655px;
}

#deviceTable thead tr th.statusField {
    color: var(--black);
    opacity: 60%;
    padding: 10px;
    width: 70px;
}


/* Select in table*/

select {
    font-family: Arial, sans-serif;
    font-size: 16px;
    color: var(--black);
    opacity: 60%;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 2px 24px 2px 8px;
    appearance: none;
    background-image: url('/public/img/tableImg/Tringle.svg');
    background-repeat: no-repeat;
    background-position: calc(91px) ;
    background-size: 10px 10px;
}

select option {
    padding: 8px;
}

/* Псевдоэлемент для создания кастомной стрелки */
/*select::after {*/
/*    content: "\25BC"; !* Unicode символ стрелки вниз *!*/
/*    position: absolute;*/
/*    top: 50%;*/
/*    right: 10px;*/
/*    transform: translateY(-50%);*/
/*    pointer-events: none;*/
/*}*/




